<div class="container-footer">
    <p class="footer-bar">
        &copy;2020 &nbsp; All Rights Reserved &nbsp; &nbsp; | &nbsp; &nbsp; CSE 341 - Web Backen Development II
        &nbsp;
        &nbsp; | &nbsp; &nbsp; Gianna Echegaray &nbsp; &nbsp; | &nbsp;
        &nbsp;
        <span id="currentdate"> Current Date Placeholder</span>
    </p>

</div>