<div class="container-logo">
    <div class="logo">
        <h1 class="title-header">Project Two</h1>
        <p class="text-header">CSE 431</p>
    </div>
</div>

<nav class="nav-container">
    <ul class="nav-info">

        <li><a class="nav-link" href="/index.html">Home</a> </li>
        
    </ul>
</nav>
